#macro(mainLayout)
<!doctype html>
<html lang="en">
<head>
    <title>Kue URL shortner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Kue Life URL shortner" />
    <meta name="keywords" content="URL, Shornter, Short, Smaller, Link" />
</head>
<body>
<main>
    <div>
        $bodyContent
    </div>
</main>
</div>
</body>
</html>
#end
